{% extends "base2.html" %}
{% load markdown_extras %}
<link href="/static/css/styles.css" rel="stylesheet" />
{% block title %} {{ author.name }} - 牧羊人 {% endblock title %}
{% block headmessage1 %} 
<h3 style='font-family:微軟正黑體;'>{{ author.name }}</h3>
<a style='font-family:微軟正黑體;' href='/'>回首頁</a>
{% endblock headmessage1 %} 
{% block content1 %} 
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="team-member">
                    <!-- author.img -->
                    <p class="text-muted">{{ author.author_img | convert_markdown | safe }}
                    <!-- author.name -->
                    <h4 class="my-3">{{ author.name }}</h4> 
                    <!-- author.sex --><!-- author.age -->
                    <p class="text-muted mx-auto"><strong>性別:</strong> {{ author.sex }}</p>
                    <p class="text-muted mx-auto"><strong>年齡:</strong> {{ author.age }}</p>
                    <p class="text-muted mx-auto"><strong>電話號碼:</strong> {{ author.tel }}</p>
                    <!-- author.tel -->
                    <a class="btn btn-dark btn-social mx-2 text-end" href=author.tel  aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content1 %}
<!DOCTYPE html>