{% extends "base2.html" %}
{% load markdown_extras %}
<link href="/static/css/styles.css" rel="stylesheet" />
{% block title %} {{ book.name }} - 牧羊人 {% endblock title %}
{% block headmessage %} 
<h3 style='font-family:微軟正黑體;'>{{ book.name }}</h3>
<a style='font-family:微軟正黑體;' href='/'>回首頁</a>
{% endblock headmessage %} 
{% block content %} 
<section class="page-section" id="services">
    <div class="container">
        <div class="row">
                <!-- book.img -->
                <p class="text-muted text-start">{{ book.book_img  | convert_markdown | safe }}  
                </p>
                <div class="text-end">
                    <h4 class="my-3">{{book.name}}</h4> 
                    <p class="text-muted">
                        <p class="text-muted">{{ book.book_con  | convert_markdown | safe }}
                        <strong>ISBN:</strong> {{ book.ISBN }}<br>
                        <strong>譯者:</strong> {{ book.translator }}<br>
                        <strong>出版日期:</strong> {{ book.date }}<br>
                        <strong>出版商:</strong> {{ book.publisher }}<br>
                        <strong>狀態:</strong> {{ book.status }}<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</section>
{% endblock content %}
