{% extends "base2.html" %}
{% load markdown_extras %}
{% block title %}歡迎光臨本館{% endblock title %}
<section id="services">
    <div class="top-frame-wrap">
        <div class="top-frame-cell2">
                <div style="text-align:center"><p class="info_yuzu"><a href="https://ci-en.dlsite.com/creator/15636" target="_blank"><img src="https://www.yuzu-soft.com/images/top/ban_cien.jpg" alt="dlsite"></a></p></div>
                <div style="text-align:center"><p class="info_yuzu"><a href="https://www.youtube.com/channel/UCOzWD4b_-q77XTaSl89OukA" target="_blank"><img src="https://www.yuzu-soft.com/images/top/banner_tube.jpg" alt="Youtube"></a></p></div>
                <div style="text-align:center"><p class="info_yuzu"><a href="http://yuzulog.hatenablog.com/" target="_blank"><img src="https://www.yuzu-soft.com/images/top/banner_blog01.jpg" alt="blog"></a></p></div>
                <div style="text-align:center"><p class="info_yuzu"><a href="https://discord.gg/KWfBBdQdDF" target="_blank"><img src="https://www.yuzu-soft.com/images/top/ban_disco.jpg" alt="discord"></a></p></div>
        </div>
    </div>
</div>
</section>

