{% extends "base2.html" %}
{% load markdown_extras %}
{% block title %}歡迎光臨本館{% endblock title %}
{% block headmessage %} <h3 style='font-family:標楷體; text-align: center;'>相關列表</h3> {% endblock headmessage %}
{% block hotcontent %}
<div class='card-body' style='background-color:#f6ffc546'>
    
{% if selected_menu == "book" %}
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">熱門書籍</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <!-- book.img -->
                    <img src="https://im2.book.com.tw/image/getImage?i=https://www.books.com.tw/img/001/063/69/0010636925.jpg&v=5384773ak&w=348&h=348">
                <!-- book.name -->
                <h4 class="my-3">盜墓筆記</h4>
                <!-- book.con -->
                    <p class="text-muted">五十年前，一群盜墓賊挖到了一部戰國帛書，殘書中記載一個奇特的戰國古墓位置，但也因為遭遇恐怖經歷幾乎全部身亡。

                        五十年後，其中一個盜墓賊的孫子在先人筆記中發現這個秘密，隨即糾集了一批經驗豐富的盜墓高手前去尋寶，但誰也沒有想到，這個古墓中竟然有著這麼多詭異的事物：七星疑棺、青眼狐屍、九頭蛇柏……
                        
                        這個神秘的古墓主人到底是誰，盜墓賊到底能不能找到真正的棺槨？隨後又發現與這古墓有著關聯的巨大詭異海底船墓、秦嶺上的萬年神木、崇山峻嶺中天宮雪墓……故事的謎底到底是什麼？
                        <br>
                    </p>
            </div>
            <div class="col-md-4">
                <img src="https://im2.book.com.tw/image/getImage?i=https://www.books.com.tw/img/001/073/60/0010736051.jpg&v=584a79d5k&w=348&h=348">
                </span>
                <h4 class="my-3">你的名字</h4>
                <p class="text-muted">家住深山的女高中生三葉，每天過著鬱鬱寡歡的生活。
                    身為鎮長的父親參與的選舉、家中神社的古老習俗、狹小的村莊──在莫名在意四周眼光的年紀，她對都會生活懷抱強烈憧憬。
                    「下輩子，請讓我生為東京的帥哥！」
                    某日，三葉夢見自己變成男高中生。
                    不曾看過的房間、不認識的朋友、繁華的街道與時髦的咖啡廳──三葉在夢裡盡情享受了渴望的都市生活。
                    住在東京的男高中生──瀧，也做了奇怪的夢。在夢裡，他是家住深山的女高中生。
                    偶有遺落的記憶與時間，不可思議卻不斷持續的夢境……三葉和瀧終於察覺：
                    「我和他（她）互換靈魂了嗎？」
                    </p>
            </div>
            <div class="col-md-4">
                <img src="https://im1.book.com.tw/image/getImage?i=https://www.books.com.tw/img/001/015/96/0010159658.jpg&v=578e0f3dk&w=348&h=348">
                </span>
                <h4 class="my-3">哈利波特 阿茲卡班的逃犯</h4>
                <p class="text-muted">「佛地魔的僕人已被束縛了十二年之久，今晚午夜以前，他將幫助佛地魔東山再起……」

                    哈利波特升上三年級了，占卜學教授卻對他發出可怕的預言，到底「佛地魔的僕人」指的是誰？
                    
                    暑假才剛要結束，阿茲卡班監獄就發生了空前的越獄事件！傳言逃犯天狼星‧布萊克就是十三年前出賣了詹姆和莉莉的人！現在他將矛頭指向哈利波特，因此連一向安全的霍格華茲學校，也進駐了魔法界最令人膽寒的獄卒「催狂魔」負責守護，校園裡一片風聲鶴唳！
                    
                    除了要防範天狼星‧布萊克的偷襲行動，更讓哈利波特覺得丟臉的是，他一碰到全身罩著斗篷、陰森恐部的「催狂魔」就會昏倒！同時寒意竄入他的胸膛、腦袋裡不斷出現莫名的尖叫聲，並吸去他所有快樂的感覺。哈利波特要如何對抗「催狂魔」的威脅，並趕在午夜時限到達之前，找出潛伏的佛地魔僕人，阻止一場大災難的發生呢？…</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <a class="newbutton" href="#transmit">查看更多書籍</a>
</section>
{% elif selected_menu == "author" %}
<section class="page-section bg-light" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">熱門作者</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <!-- author.img -->
                    <img class="mx-auto rounded-circle" src="https://n.sinaimg.cn/ent/transform/775/w630h945/20180820/gSvu-hhxaafz2061869.jpg" alt="..." />
                    <!-- author.name -->
                    <h4>南派三叔</h4>
                    <!-- author.sex --><!-- author.age -->
                    <p class="text-muted">作家</p>
                    <!-- author.tel -->
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="https://image.stheadline.com/f/1500p0/0x0/100/none/f85064ce890def2087faad4556f296a4/stheadline/news_res/2020/11/25/777114/i_src_701321179.jpg" alt="..." />
                    <h4>新海城</h4>
                    <p class="text-muted">作者</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-twitter"></i></a>
                  </div>
            </div>
           
             <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="https://img.ltn.com.tw/Upload/news/600/2015/05/11/107.jpg" alt="..." />
                    <h4>J. K. 羅琳</h4>
                    <p class="text-muted">作者</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-twitter"></i></a>
                  </div>
            </div>
        </div>
    </div>
    <a class="newbutton" href="#transmit">查看更多作者</a>
</section>
{% elif selected_menu == "publisher" %}
<section class="page-section bg-light" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">主要出版商</h2>
            <br>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- publisher-->
                <div class="portfolio-item">
                      <!--  publisher img -->
                        <img class="img-fluid" src="https://s3cdn.yourator.co/companies/logos/000/001/938/thumb/40b69368e8e7d30a24a4b3304b3fe945dc97786e.png"/>
                    </a>
                    <div class="portfolio-caption">
                        <!--  publisher name -->
                        <div class="portfolio-caption-heading">台灣角川</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                
                <div class="portfolio-item">
                       <img class="img-fluid" src="https://scontent.ftpe3-1.fna.fbcdn.net/v/t39.30808-1/305128014_509026374558818_3822540510499830702_n.jpg?stp=c80.0.200.200a_dst-jpg_p200x200&_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=hPkGLUDBBecAX-qoqOL&_nc_ht=scontent.ftpe3-1.fna&oh=00_AfBecOqTOjGy3isHRxoZuXH4KwrSEnTDfQOUHU-FC7huIA&oe=65480E1E" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">皇冠文化出版有限公司</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                
                <div class="portfolio-item">
                        <img class="img-fluid" src="https://scontent.ftpe3-1.fna.fbcdn.net/v/t39.30808-6/354029022_677133594427618_1331516972552067005_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=9OQvD_EXfGAAX_QpzQP&_nc_ht=scontent.ftpe3-1.fna&oh=00_AfDy7nu-ildN0wuPf3lOwWB-EYWQYitR6600gT9rw8fasw&oe=654702C6" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">遠流出版公司</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="newbutton" href="#transmit">查看更多出版商</a>
</section>
{% elif selected_menu == "default" %}
<br>
<div style="text-align: center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/JbqcUJV7y3I?si=YC37FHLUitZbcH7O" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div style="flex: 1; width: 50%; margin: 0 auto; text-align: center;">
        <div style="height: 300px; overflow: auto;">
            <a class="twitter-timeline" href="https://twitter.com/Genshin_7" data-tweet-limit="10">Tweets by genshin</a>
        </div>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
{% endif %}
</section>
{% endblock hotcontent %}

{% block content %}
{% if selected_menu == "book" %}
    <h2>書本列表</h2>
        {% for book in articles %}
        <div class='card mx-auto'>
                <div class='card-header'>
                    <p style='font-family:微軟正黑體;font-size:14pt;font-weight:bold;'>
                        <a href='/book/{{ book.name }}#transmit'>{{ book.name }}</a>
                    </p>
                </div>
                <div class='card-body' style='background-color:#f6ffc546'>
                    <div class='row'>
                        <div class='col-lg-6'>
                            <p class="text-muted">
                                <p class="text-muted text-start">{{ book.book_img  | convert_markdown | safe }}  </p>
                                <strong class="text-end">簡介:</strong> {{ book.book_con  }}<br>
                                <strong class="text-end">ISBN:</strong> {{ book.ISBN }}<br>
                                <strong class="text-end">譯者:</strong> {{ book.translator }}<br>
                                <strong class="text-end">出版日期:</strong> {{ book.date }}<br>
                                <strong class="text-end">出版商:</strong> {{ book.publisher }}<br>
                                <strong class="text-end">狀態:</strong> {{ book.status }}<br>
                            </p>
                        </div>
                        <div class='col-lg-6'>
                            <strong class="text-end h3">目錄:</strong><br><br><br>{{ book.book_con1 | convert_markdown | safe }}<br>
                        </div>
                    </div>
                </div>

                <div class='card-footer' style='background-color:#f6ffc546'>
                    <p>
                        發布時間：{{ book.date | date:"Y M d" }}
                    </p>
                </div>
            </div>
            <br>
        {% endfor %}
{% elif selected_menu == "author" %}
        <h2>作者列表</h2>
        {% for author in articles %}
            <div class='card mx-auto'>
                <div class='card-header'>
                    <p style='font-family:微軟正黑體;font-size:14pt;font-weight:bold;'>
                        <a href='/author/{{ author.name }}#transmit'>{{ author.name }}</a>
                    </p>
                </div>
                <p class="text-muted">{{ author.author_img  | convert_markdown | safe }}  </p>
                <div class='card-body' style='background-color:#f6ffc546'>
                </div>
            </div>
            <br>
        {% endfor %}
{% elif selected_menu == "publisher" %}
        <h2>出版商列表</h2>
        {% for publisher in articles %}
            <div class='card mx-auto'>
                <div class='card-header'>
                    <p style='font-family:微軟正黑體;font-size:14pt;font-weight:bold;'>
                        <a href='/publisher/{{ publisher.name }}#transmit'>{{ publisher.name }}</a>
                    </p>
                </div>
                <p class="text-muted">{{ publisher.img  | convert_markdown | safe }}  </p>
                <div class='card-body' style='background-color:#f6ffc546'>
                    <p>
                        {{ publisher.addr | truncatechars:40 }}
                    </p>
                </div>
            </div>
            <br>
        {% endfor %}
{% elif selected_menu == "default" %}
<section id="services">
    <div class="top-frame-wrap">
        <div class='card-body' style='background-color:#f6ffc546'>
        <div class="top-frame-cell2">
            <div style="text-align:center">
                <p class="info_yuzu"><a href="https://www.youtube.com/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/YouTube_Logo_2017.svg/2560px-YouTube_Logo_2017.svg.png" alt="Youtube" style="width: 60%; height: 40%;"></a></p>
            </div>
            <div style="text-align:center">
                <p class="info_yuzu"><a href="https://www.google.com/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/2560px-Google_2015_logo.svg.png" alt="Google" style="width: 60%; height: 40%;"></a></p>
            </div>
            <div style="text-align:center">
                <p class="info_yuzu"><a href="http://www.facebook.com/u" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Facebook_Logo_%282019%29.svg/2560px-Facebook_Logo_%282019%29.svg.png" alt="Facebook" style="width: 60%; height: 40%;"></a></p>
            </div>            
        </div>
    </div>
</div>
</section>
{% endif %}
{% endblock content %}
