{% extends "base2.html" %}
{% block title %}歡迎光臨我的部落格{% endblock title %}
{% block headmessage %} <h3 style='font-family:標楷體;'>本站文章列表</h3> {% endblock headmessage %}
{% block content %}
{% if selected_menu == "book" %}
    <h2>書本列表</h2>
    {% for article in articles %}
        <div class='card'>
            <div class='card-header'>
                <p style='font-family:微軟正黑體;font-size:14pt;font-weight:bold;'>
                    <a href='/book/{{ article.name }}'>{{ article.name }}</a>
                </p>
            </div>
            <div class='card-body' style='background-color:#F0E209'>
                <p>
                    {{ article.img_and_con | truncatechars:40 }}
                </p>
            </div>
            <div class='card-footer' style='background-color:#efefef'>
                <p>
                    發布時間：{{ article.date | date:"Y M d" }}
                </p>
            </div>
        </div>
        <br>
    {% endfor %}
{% elif selected_menu == "author" %}
    <h2>作者列表</h2>
    {% for article in articles %}
        <div class='card'>
            <div class='card-header'>
                <p style='font-family:微軟正黑體;font-size:14pt;font-weight:bold;'>
                    <a href='/author/{{ article.name }}'>{{ article.name }}</a>
                </p>
            </div>
            <div class='card-body' style='background-color:#F0E209'>
                <p>
                    {{ article.sex | truncatechars:40 }}
                </p>
            </div>
        </div>
        <br>
    {% endfor %}
{% elif selected_menu == "publisher" %}
    <h2>出版商列表</h2>
    {% for article in articles %}
        <div class='card'>
            <div class='card-header'>
                <p style='font-family:微軟正黑體;font-size:14pt;font-weight:bold;'>
                    <a href='/publisher/{{ article.name }}'>{{ article.name }}</a>
                </p>
            </div>
            <div class='card-body' style='background-color:#F0E209'>
                <p>
                    {{ article.addr | truncatechars:40 }}
                </p>
            </div>
        </div>
        <br>
    {% endfor %}
{% endif %}
{% endblock content %}
